<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Database" />
  </extensions>

  <targets>
    <target xsi:type="Database" name="databaseTarget"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="YourConnectionString"
            commandText="INSERT INTO LogTable (Timestamp, Level, Message) VALUES (@timeStamp, @level, @message)">
      <parameter name="@timeStamp" layout="${longdate}" />
      <parameter name="@level" layout="${level:uppercase=true}" />
      <parameter name="@message" layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="databaseTarget" />
  </rules>
</nlog>
